# Ignore except itself because .config directory may include private info
/*
!/.gitignore

# But the following directories should be under git management
!/starship.toml
!/nvim
!/karabiner
!/coc
!/iterm
!/cargo-atcoder.toml
